.hide {
    visibility: hidden;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center
}

.MuiChip-root {
    text-transform: capitalize;
    margin: 5px;
    background-color: #293f5617 !important;
}

/* TODO responsive height/width calculation */
.app-container {
    position: absolute;
    overflow: auto;
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.top-nav-container {
    position: sticky;
    display: flex;
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: 50px;
    align-items: center;
    
}
#navbar_title{
    color: white;
    margin: 10px;
}

.navbar-brand{color: white;}

.side-nav-container {
    position: static;
    display: flex;
    background-color: rgb(196, 52, 0);
    width: 15%;
     height: 200%; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.workspace-container {
    width: 85%;
}