
h1{
text-align: center;
}

.settings-container{
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    transition: all 0.35s ease-in-out;
    text-align: center;
   width: 575px;
    display: flex;
}

.settings-container:hover {
    background-color: rgb(181, 218, 189);
    transition: all 0.35s ease-in-out;
}

.larger-container{
    display: flex;
}